<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" type="text/css" href="/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="/css/nice-select.css" />
    <link rel="stylesheet" type="text/css" href="/css/swiper.css" />
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/dark_theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" />

</head>
<body>
    
      <!-- preloader Start -->
      <div id="preloader">
        <div id="status">
            <img src="/images/loader.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <div class="cursor"></div>
          <!-- top navi wrapper Start -->
    <div class="m24_main_wrapper">
        <div id="sidebar" class="bounce-to-right">
            <div id="toggle_close">×</div>
            <div id='cssmenu'>
                <a href="/"><img src="/images/logo.png" alt="logo"></a>
                
                <ul class="sidebb">
                    <li ><a href='/'><i class="flaticon-home"></i>Home</a></li>
                    <li ><a href='/about'><i class="flaticon-album"></i>ABOUT</a></li>
                    <li class='has-sub'><a href='#'><i class="flaticon-playlist"></i>DISCOGRAPHY</a>
                        <ul>
                            <li><a href="/songs"> <i class="flaticon-playlist-1"></i>Song</a></li>
                            <li><a href="/genres"><i class="flaticon-files-and-folders"></i>genres</a></li>
                        </ul>
                    </li>               
                    <li><a href='/request_song'><i class="flaticon-smartphone"></i>request song</a></li>
                    <li><a href='/contact'><i class="flaticon-internet"></i>contact us</a></li>
                    <li ><a href='/login'><i class="flaticon-right-arrow"></i>Login</a></li>
                    <li ><a href='/logout' ><i class="flaticon-clock"></i>Logout</a></li>
                    <!-- <li class='has-sub'><a href='#'><i class="flaticon-playlist-3"></i>browse music</a>
                        <li><a href="/genres_single"><i class="flaticon-smartphone"></i>genres single</a></li>
                        <ul>
                            <li><a href="/song_list"><i class="flaticon-playlist-1"></i>Song list</a></li>
                            <li><a href="/genres"><i class="flaticon-files-and-folders"></i>genres</a></li>
                            <li><a href="/genres_single"><i class="flaticon-smartphone"></i>genres single</a></li>
                        </ul>
                    </li> -->
                    
                    <!-- <li class='has-sub'><a href='#'><i class="flaticon-playlist-1"></i>your music</a>
                        <ul>
                            <li><a href="/download"><i class="flaticon-download"></i>download</a></li>
                            <li><a href="history.html"><i class="flaticon-clock"></i>history</a></li> 						
                        </ul>
                    </li>     -->
                </ul>
            </div>
        </div>    
    </div>
        <!-- top navi wrapper end -->
        <div class="m24_navi_main_wrapper index2_main_header m24_cover  m24_cover">
            <div class="container">

                <div class="container-fluid d-flex justify-content-between pt-3 align-items-center">
                    <div class="m24_logo_wrapper d-flex align-items-center">
                        <div id="toggle" class="px-3">
                            <a href="#"><i class="flaticon-menu-1"></i></a>
                        </div>
                        <div class="m24_logo_div">
                            <a href="/">
                                <img src="/images/logo2.png" alt="logo" class="images">
                            </a>
                        </div>
                    </div>
    
                    <div class="m24_navigation_wrapper"></div>
                        <!-- mainmenu end -->
                        <div class="theme-switch-wrapper px-2">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />							
                                <span class="slider round"></span>
                            </label>
                        </div> 
    <!--                     
                        <div class="m24_header_right_Wrapper">
                            <div class="m24_signin_wrapper">
                                <a href="#" data-toggle="modal" data-target="#login_modal">
                                  <img src="images/pf.png" alt="img">
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- navi wrapper End -->
    <%- body %>
     
          <!-- footer Wrapper start -->

          <div class="footer_wrapper m24_cover">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 col-sm-12">
                        <div class="footer_widget footer_about_wrapper m24_cover">
                            <div class="abotus_content">
                                <a href="index.html"><img src="/images/logo2.png" class="img-responsive footer-image pb-3" alt="logo" /></a>
                                <p class="pl-3">Sed do eiusmod tempor unt ut labore et dolore magna liqua. Ut enim ad minim veniam...</p>
                            </div>
                            <ul class="footer_about_link_wrapper m24_cover pl-3">
                                <li> <i class="fa fa-phone"></i>+234 - 816 -133 -2538</li>
                                <li> <a href="index.html#"><i class="fa fa-envelope"></i><span class="__cf_email__" data-cfemail="ebbf9e858e8285ab8e938a869b878ec5888486">[email&#160;protected]</span></a></li> 
                            </ul>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 col-sm-12">
                        <div class="footer_widget footer_blog_wrapper m24_cover">
                            <h4>usefull links</h4>
                            <ul class="footer_about_link_wrapper usefull_linkx m24_cover">

                                <li> <a href="index.html#">Terms of Use</a>
                                </li>
                                <li> <a href="index.html#">Privacy Policy </a>
                                </li>
                                <li> <a href="index.html#">Feedback </a>
                                </li>

                                <li> <a href="index.html#">Report an issue </a>
                                </li>
                                <!-- <li> <a href="index3.html#">Sitemap </a>
                                </li> -->
                                <!-- <li> <a href="index.html#">FAQ </a></li> -->
                                <!-- <li> <a href="index3.html#">advertise </a></li> -->
                            </ul>
                        </div>
                    </div>
                   
                    <div class="col-lg-4 col-md-6 col-12 col-sm-12">
                        <div class="footer_widget footer_contact_wrapper m24_cover">
                            <h4>newsletter</h4>
                            <p>Our latest news & Special Offers </p>
                            <div class="contect_form_footer m24_cover">
                                <input type="text" name="name" placeholder="name">
                            </div>
                            <div class="contect_form_footer m24_cover">
                                <input type="text" name="email" placeholder="Email">
                            </div>
                            <div class="lang_apply_btn footer_cont_btn">
                                <ul>
                                    <li>
                                        <a href="index.html#"> <i class="flaticon-play-button"></i>subscribe</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="foter_top_wrapper m24_cover">
            <div class="container">
                <ul>
                    <li><a href="index.html#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li><a href="index.html#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li><a href="index.html#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li> <a href="index.html#"><i class="fab fa-linkedin-in"></i></a> </li>
                    <li> <a href="index.html#"><i class="fab fa-whatsapp"></i></a> </li>
                </ul>
            </div>
        </div>
        <div class="section2_bottom_wrapper m24_cover">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="btm_foter_box">

                            <p>Copyright © 2022 <a href="index.html"> Studiobantu</a> designed by <a href="index.html#"> Phieeyah.</a></p>
                            <!-- <div class="aboutus_social_icons">
                                <a href="index3.html#">Get Tunein <i class="flaticon-play-button"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer wrapper end-->  
        <!-- login register  modal section -->
             <!-- <div class="modal fade lang_m24_banner" id="login_modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">

                                <div class="m24_language_box m24_cover">
                                    <h1>Login / Sign In</h1>
                                    <p>for unlimited music streaming & a personalised experience</p>
                                </div>
                                <div class="login_form_wrapper">

                                    <div class="icon_form comments_form">

                                        <input type="text" class="form-control" name="full_name" placeholder="Enter Email Address*">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="icon_form comments_form">

                                        <input type="password" class="form-control" placeholder="Enter Password *">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    <div class="login_remember_box">
                                        <label class="control control--checkbox">keep me signed in
                                            <input type="checkbox">
                                            <span class="control__indicator"></span>
                                        </label>
                                        <a href="genres_single.html#" class="forget_password">
                                            Forgot Password ?
                                        </a>
                                    </div>

                                </div>
                                <div class="lang_apply_btn_wrapper m24_cover">
                                    <div class="lang_apply_btn">

                                        <a href="genres_single.html#">login now</a>

                                    </div>
                                    <div class="cancel_wrapper">
                                        <a href="genres_single.html#" class="" data-dismiss="modal">cancel</a>
                                    </div>
                                    <div class="dont_have_account m24_cover">
                                        <p>Don’t have an acount ? <a href="genres_single.html#register_modal" data-toggle="modal">register here</a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade lang_m24_banner" id="register_modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">

                                <div class="m24_language_box m24_cover">
                                    <h1>Register / Sign Up</h1>
                                    <p>for unlimited music streaming & a personalised experience</p>
                                </div>
                                <div class="login_form_wrapper">
                                    <div class="icon_form comments_form">

                                        <input type="text" class="form-control" name="first_name" placeholder="Enter your name">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="icon_form comments_form">

                                        <input type="text" class="form-control" name="full_name" placeholder="Enter Email Address*">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="icon_form comments_form">

                                        <input type="password" class="form-control" placeholder="Enter Password *">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                    <div class="icon_form comments_form">

                                        <input type="password" class="form-control" placeholder="confirm password*">
                                        <i class="fas fa-lock"></i>
                                    </div>

                                </div>
                                <div class="lang_apply_btn_wrapper m24_cover">
                                    <div class="lang_apply_btn">

                                        <a href="genres_single.html#">register</a>

                                    </div>
                                    <div class="cancel_wrapper">
                                        <a href="genres_single.html#" class="" data-dismiss="modal">cancel</a>
                                    </div>
                                    <div class="dont_have_account m24_cover">
                                        <p>Don’t have an acount ? <a href="genres_single.html#login_modal" data-toggle="modal">login here</a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>  -->
    <!-- login register  modal end -->
     <!--custom js files-->
     <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
     <script src="/js/jquery-3.3.1.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.2.0/tinymce.min.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="/js/modernizr.js"></script>
     <script src="/js/plugin.js"></script>
     <script src="/js/jquery.nice-select.min.js"></script>
     <script src="/js/jquery.inview.min.js"></script>
     <script src="/js/jquery.magnific-popup.js"></script>
     <script src="/js/swiper.min.js"></script>
     <script src="/js/comboTreePlugin.js"></script>
     <script src="/js/mp3/jquery.jplayer.min.js"></script>
     <script src="/js/mp3/jplayer.playlist.js"></script>
     <script src="/js/owl.carousel.js"></script>
     <script src="/js/mp3/player.js"></script>
     <script src="/js/custom.js"></script>
     <script>
         tinymce.init({
            selector: '#lyricz',
            height: 200
        });
        const lyrics = document.querySelector('.new') 
        const old = document.querySelector('.old') 
        const searchGenre = document.querySelector('#search_genre') 
        const searchBtn = document.querySelector('.searchBtn') 
        
       

        const formTitle = document.getElementById('utitle') 
         const formGenre = document.getElementById('genre') 
         const formLyrics = document.getElementById('lyrics') 
         const modal = document.getElementById("mymodal");
         const modalClose = document.querySelector(".modal-close");

         searchBtn.addEventListener('click', () => {
             
             window.location.href = "http://localhost:8000/genres#" + searchGenre.value.toUpperCase()
         })

         const handleClose = () => {
            modal.classList.toggle('active');
            document.querySelector('html').style.overflowY = "scroll";
        }

        function LoadLyrics(e) {
            console.log(lyrics);
            lyrics.classList.toggle('active')
            lyrics.innerHTML = lyrics.textContent
            old.classList.toggle('active')


        }
         
        modalClose.addEventListener('click', handleClose)
        modal.addEventListener('click', handleClose)

         function playSong (url) {
             console.log('clicked')
            const audio = new Audio(url)
            audio.play()
         }
         function pauseSong (url) {
             console.log('clicked')
            const audio = new Audio(url)
            audio.pause()
         }

       async function logout(id) {

            const BASE_URL = "http://localhost:8000"
            try {
                const response = await axios.post(`${BASE_URL}/logout`)
                
            } catch (errors) {
                console.error(errors);
            }

        
            // console.log('clicked')
       }  
     </script>
</body>
</html>