   <!--inner Title Start -->
   <div class="indx_title_main_wrapper mb-4">
    <div class="title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="indx_title_left_wrapper m24_cover">
                    <h2 >About us</h2>

                    <ul>
                        <li><a href="contact_us.html#">Home</a> &nbsp;&nbsp;&nbsp;/</li>
                        <li>About us</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- inner Title End -->

 <!-- About us -->
<!-- About us Intro starting -->
<div class="about pb-4 my-5">

    <div class="container">
        <h1 class=" pb-3" id="about_us">ABOUT US</h1>
        <p class="about_desc py-3" >
            We are an independent music production Company driven by songwriters. Passionate and dedicated. <br> But ofcourse with a recourse to our chosen medium of expression.
        </p>
    </div>
</div>

 <!-- About us Intro ending -->
 <!-- mission starting -->
<div class="text-center about_mission py-5">
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200" >
      <span class="fa fa-info my-3"></span>
      <h4>MISSION</h4>
      <p class="lead py-3">It is our desire  to partner with any established artists and new artists. <br> Music publishing and management companies with a view to expose our repertoire to a global audience. <br> We believe, trust and hope that our material meets your expectations.</p>
    </div>
    <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
      <span class="fa fa-info my-3"></span>
      <h4>VISSION </h4>
      <p class="lead py-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
    </div>
    <div class="clearfix visible-md-block visible-sm-block"></div>
    <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
      <span class="fa fa-file my-3"></span>
      <h4>CORE VALUES</h4>
      <ul class="lead py-3">
          <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
          <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
      </ul>
    </div>
    
  </div>
  
</div>
</div>
<!-- mission ending -->

           <!-- Team starting -->
<div class="our_team" class="py-5 ">
<div class="container">
<h3 id="team-title" class="pb-4" >MEET THE TEAM</h3>
<div class="row">
    <!-- Team member -->
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" >
            <div class="mainflip flip-0">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="images/doctorVin.jpg" alt="card image"></p>
                            <h4 class="card-title">Doctor Vin</h4>
                            <p class="card-text">This is basic card with image on top, title, description and button.</p>
                            <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h4 class="card-title">Doctor Vin</h4>
                            <p class="card-text card-text-dark">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Team member -->
    <!-- Team member -->
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="images/ocPeters.jpg" alt="card image"></p>
                            <h4 class="card-title">O.C Peters</h4>
                            <p class="card-text card-text-dark">This is basic card with image on top, title, description and button.</p>
                            <a  class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h4 class="card-title">O.C Peters</h4>
                            <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Team member -->
    <!-- Team member -->
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="images/chucksBrooks.jpg" alt="card image"></p>
                            <h4 class="card-title">Chucks Brooks</h4>
                            <p class="card-text">This is basic card with image on top, title, description and button.</p>
                            <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h4 class="card-title">Chucks Brooks</h4>
                            <p class="card-text card-text-dark">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Team member -->

</div>
</div>
</div>
<!-- Team ending -->