    <!--inner Title Start -->
    <div class="indx_title_main_wrapper">
        <div class="title_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="indx_title_left_wrapper m24_cover">
                        <h2>add playlist</h2>

                        <ul>
                            <li><a href="add_playlist.html#">Home</a> &nbsp;&nbsp;&nbsp;/</li>
                            <li>add playlist</li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- inner Title End -->
    <!-- treanding song wrapper start -->
    <div class="treanding_songs_wrapper m24_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="m24_heading_wrapper">
                        <h1>your Playlists</h1>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="treanding_slider_main_box playlist_wrapper m24_cover">
                        <img src="images/play3.jpg" alt="img">

                        <div class="m24_treanding_box_overlay">
                            <div class="m24_tranding_box_overlay"></div>

                            <div class="tranding_play_icon various_concert_icon">
                                <a href="add_playlist.html#">
                                    <i class="flaticon-play-button"></i>
                                </a>
                            </div>
                        </div>
                        <div class="various_song_playlist">
                            <p><a href="add_playlist.html#">my favourites</a></p>
                            <p class="various_artist_text"><a href="add_playlist.html#">30 songs</a></p>

                        </div>
                    </div>
                </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="treanding_slider_main_box playlist_wrapper m24_cover">
                        <img src="images/td11.png" alt="img">

                        <div class="m24_treanding_box_overlay">
                            <div class="m24_tranding_box_overlay"></div>

                            <div class="tranding_play_icon various_concert_icon">
                                <a href="add_playlist.html#">
                                    <i class="flaticon-play-button"></i>
                                </a>
                            </div>
                        </div>
                        <div class="various_song_playlist">
                            <p><a href="add_playlist.html#">mixup playlist</a></p>
                            <p class="various_artist_text"><a href="add_playlist.html#">30 songs</a></p>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="treanding_slider_main_box playlist_wrapper m24_cover">
                        <img src="images/play2.jpg" alt="img">

                        <div class="m24_treanding_box_overlay">
                            <div class="m24_tranding_box_overlay"></div>

                            <div class="tranding_play_icon various_concert_icon">
                                <a href="add_playlist.html#">
                                    <i class="flaticon-play-button"></i>
                                </a>
                            </div>
                        </div>
                        <div class="various_song_playlist">
                            <p><a href="add_playlist.html#">my music list</a></p>
                            <p class="various_artist_text"><a href="add_playlist.html#">100 songs</a></p>

                        </div>
                    </div>
                </div>
                 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="treanding_slider_main_box playlist_wrapper m24_cover">
                        <span><a href="add_playlist.html#">
                               <i class="flaticon-playlist-3">
                               </i></a></span>

                        <div class="various_song_playlist">
                            <p><a href="add_playlist.html#">create new playlist</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- song wrapper end -->
    <!-- treanding song wrapper start -->
    <div class="treanding_songs_wrapper punjabi_sogns featured_playlist_new m24_cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="m24_heading_wrapper">
                        <h1>featured playlist</h1>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="treanding_song_slider playlist_songs_list">
                        <div class="owl-carousel owl-theme">
                            <div class="item">

                                <div class="treanding_slider_main_box m24_cover">
                                    <img src="images/td7.png" alt="img">

                                    <div class="m24_treanding_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                        </ul>
                                        <div class="tranding_play_icon various_concert_icon">
                                            <a href="add_playlist.html#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="various_song_playlist">
                                        <p><a href="add_playlist.html#">top treandings</a></p>
                                        <p class="various_artist_text"><a href="add_playlist.html#">30 songs</a></p>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="treanding_slider_main_box m24_cover">
                                    <img src="images/td8.png" alt="img">

                                    <div class="m24_treanding_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                        </ul>
                                        <div class="tranding_play_icon various_concert_icon">
                                            <a href="add_playlist.html#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="various_song_playlist">
                                        <p><a href="add_playlist.html#"> romantics charts</a></p>
                                        <p class="various_artist_text"><a href="add_playlist.html#">20 songs</a></p>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="treanding_slider_main_box m24_cover">
                                    <img src="images/td9.png" alt="img">

                                    <div class="m24_treanding_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                        </ul>
                                        <div class="tranding_play_icon various_concert_icon">
                                            <a href="add_playlist.html#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="various_song_playlist">
                                        <p><a href="add_playlist.html#">workout theme</a></p>
                                        <p class="various_artist_text"><a href="add_playlist.html#">35 songs</a></p>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="treanding_slider_main_box m24_cover">
                                    <img src="images/td4.png" alt="img">

                                    <div class="m24_treanding_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                        </ul>
                                        <div class="tranding_play_icon various_concert_icon">
                                            <a href="add_playlist.html#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="various_song_playlist">
                                        <p><a href="add_playlist.html#">best classical</a></p>
                                        <p class="various_artist_text"><a href="add_playlist.html#">18 songs</a></p>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="treanding_slider_main_box m24_cover">
                                    <img src="images/td5.png" alt="img">

                                    <div class="m24_treanding_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                        </ul>
                                        <div class="tranding_play_icon various_concert_icon">
                                            <a href="add_playlist.html#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="various_song_playlist">
                                        <p><a href="add_playlist.html#">heart broken</a></p>
                                        <p class="various_artist_text"><a href="add_playlist.html#">120 songs</a></p>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="treanding_slider_main_box m24_cover">
                                    <img src="images/td6.png" alt="img">

                                    <div class="m24_treanding_box_overlay">
                                        <div class="m24_tranding_box_overlay"></div>
                                        <div class="m24_tranding_more_icon">
                                            <i class="flaticon-menu"></i>
                                        </div>
                                        <ul class="tranding_more_option">
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a></li>
                                            <li><a href="add_playlist.html#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
                                        </ul>
                                        <div class="tranding_play_icon various_concert_icon">
                                            <a href="add_playlist.html#">
                                                <i class="flaticon-play-button"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="various_song_playlist">
                                        <p><a href="add_playlist.html#">newely arival</a></p>
                                        <p class="various_artist_text"><a href="add_playlist.html#">22 songs</a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
