<% if(!isAuthenticated) { %>
    <script>
        window.location.href = "http://localhost:8000"
    </script>
<% } %>
        <!-- Request song end-->
        
            <!-- <span class="modal-close" >&times;</span> -->
            <!-- <div>
                <div class="d-flex justify-content-center align-items-center">

                    <form action="/admin/addSong" method="post" enctype="multipart/form-data">
                        <div class="style-form">
                            <label for="">Upload Image</label>
                        
                            <input type="file" placeholder="Upload image" name="images" id="ïmage">
                        
                            <input  type="text" placeholder="Enter Title" name="title" id="utitle">
                    
                            <label for="">Upload Song</label>
                        
                            <input type="file" placeholder="Enter Song" name="mp3" id="mp3">
                    
                            <select name="genre" id="genre">
                                <option>Select Genre</option>
                                <% for(let i = 0; i < genre.length; i++) { %>
                                    <option value="<%= genre[i].title %>"><%= genre[i].title %></option>
                                <% } %>
                            </select> -->
                            <!-- <div class="formGroup">
                                <textarea id="lyrics" name="lyrics" placeholder="Enter Lyrics" rows="20" cols="20"></textarea>
                            </div> -->
                            <!-- <input type="submit" value="Upload" class="create">
                        </div>
                    </form>
                </div>
            </div> -->

        
               
            <div class="createFormBody">
                <div class="create-form">
                    <form action="/admin/addSong" method="post" enctype="multipart/form-data"></form>
        
                        
                        <div class="style-form">
                            <div class="form-block align-flex">      
                                <label for="">Upload Image</label> 
                                <input type="file" placeholder="Upload image" name="images" id="ïmage">
                            </div>
                            <div class="form-block">
                                <input  type="text" placeholder="Enter Song Title" name="title" id="utitle">
                            </div>
                            <div class="form-block align-flex">
                                <label for="">Upload Song</label>
                                <input type="file"  name="mp3" id="mp3">
                            </div>
                            <div class="form-block">
                                <select name="genre" id="genre">
                                    <option>Select Genre</option>
                                    <% for(let i = 0; i < genre.length; i++) { %>
                                        <option value="<%= genre[i].title %>"><%= genre[i].title %></option>
                                    <% } %>
                                </select>
                            </div>        
                            <div class="form-block">
                                <textarea id="lyricz" name="lyrics" placeholder="Enter Lyrics" rows="20" cols="20"></textarea>
                            </div>
                            <div >
                                <input type="submit" value="Upload" class="create">
                            </div>
                        </div>
                    
        
                    </form>
                </div>
            </div>
          
        
          
                     