
        <!-- Request song end-->
<div id="mymodal" class="main-content">
    <div id="modal-content">

            <span class="modal-close" >&times;</span>
            <form action="/admin/updateSong/<%= song._id %>" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Upload Image</label>
                    <input type="file" name="images" id="ïmages">
                </div>
                <div class="form-group">
                    <input value="<%= song.title %>" type="text" placeholder="Enter Title" name="title" id="utitle">
                </div>
                <div class="form-group">
                    <label for="">Upload Song</label>
                    <input type="file" name="mp3" id="mp3">
                </div>
                <div class="form-group">
                    <input value="<%= song.genres %>" type="text" placeholder="Enter Music genre" name="genre" id="genre">
                </div>
                <div class="form-group">
                    <textarea id="lyrics" name="lyrics" placeholder="Enter Lyrics" rows="20" cols="20"><%= song.lyrics %></textarea>
                </div>
                <input type="submit" value="Upload">
            </form>

        
    </div>

</div>


       
       
  

  
             